<header class="header">

  <div class="logo">
    <a routerLink="home">
      <img src="imagens/Logo minimalista de beleza Lumière.png">
    </a>
  </div>

  <nav class="menu">
    <a routerLink="home">Início</a>
    <a routerLink="produtos">Produtos</a>
    <a routerLink="carrinho">Carrinho</a>
    <a routerLink="favoritos">Favoritos</a>
    <a routerLink="login">Login</a>
    <a routerLink="cadastro">Cadastro</a>

    <div *ngIf="authService.getUsuario(); else botoesLoginCadastro" class="usuario-logado">
      <span>Bem-vindo, {{ auth.getUsuario() }}!</span>
      <button (click)="sair()" class="btn-sair">Sair</button>
    </div>

    <ng-template #botoesDeslogado>
      <a routerLink="login" class="btn-login">Login</a>
      <a routerLink="cadastro" class="btn-cadastro">Cadastro</a>
    </ng-template>

  </nav>

</header>